{% include 'header.html' %}


<!-- using https://github.com/templid/email-templates/tree/main/templid-dynamic-templates/invoice-02-->

<div class="preview-bar bg-green-200 text-black p-4 pl-16 pr-16 flex justify-between items-center">
    <h2 class="text-lg">Visualización del archivo {{ filename }}</h2>
    <div>
        <form action="/download/{{ temp_id }}" method="post" style="display: inline;">
            
            <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Download as PDF</button>
            
        </form>
        <form action="/save" method="post" style="display: inline;">
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Save</button>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flex justify-center items-center bg-red-400 text-white p-4">
    <p>{{ messages[0] }}</p>
</div>
{% endif %}
{% endwith %}


{% include 'summary.html' %}



{% include 'footer.html' %}